<div class="main">
    <div class="cards">
        <div class="card1">
            <h2>quick links</h2>
            <ul>
                <li>about us</li>
                <li>contact us</li>
                <li>privacy policy</li>
                <li>terms & conditions</li>
                <li>FAQs & help</li>
            </ul>
        </div>
        <div class="card2">
            <h2>contact</h2>
            <span>
                <fa-icon [icon]="faMapMarkerAlt"></fa-icon> 
                <p>123 street,nyamira,kenya</p>
            </span>
            <span>
               <fa-icon [icon]="faPhone"></fa-icon> 
               <p>+254791736576</p>
            </span>
            <span>
                <fa-icon [icon]="faEnvelope"></fa-icon> 
                <a href="mailto:example@example.com">info&#64;uniconnect.com</a>
            </span>
            <div class="icons">
                <fa-icon [icon]="faTwitter"></fa-icon>
                <fa-icon [icon]="faFacebook"></fa-icon>
                <fa-icon [icon]="faInstagram"></fa-icon>
                <fa-icon [icon]="faGithub"></fa-icon>
                <fa-icon [icon]="faTiktok"></fa-icon>
            </div>
        </div>
        <div class="card3">
            <h2>gallery</h2>
            <div class="images">
                <img src="../assets/image1.png" alt="image1">
                <img src="../assets/image2.png" alt="image2">
                <img src="../assets/image3.png" alt="image3">
                <img src="../assets/image4.png" alt="image4">
                <img src="../assets/image5.png" alt="image5">
                <img src="../assets/image6.png" alt="image6">
            </div>
        </div>
        <div class="card4">
            <h2>newsletter</h2>
            <p>subscribe and get news letters</p>
            <div class="input">
                <input type="text" placeholder="your email">
                <button>subscribe</button>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>&copy;, all rights reserved. made with <fa-icon [icon]="faHeart"></fa-icon>by clinton omari</p>
    </div>
</div>