<div class="main">
    <img src="../assets/logo.png" alt="">
    <div class="container">
        <form>
            <h1>sign in</h1>
            <p class="para">Keep abreast of professional updates</p>
            <div class="email-field">
                <label>email</label>
                <input type="text" placeholder="Enter your email">
            </div>
            <div class="password-field">
                <label>password</label>
                <input type="password" placeholder="Enter your password">
            </div>
            <button>
                <fa-icon [icon]="faSignInAlt"></fa-icon>
                <p>sign in</p>
            </button>
            <span>Don't have an account? <p routerLink="/register">signUp </p></span>
        </form>
    </div>
</div>