<div class="main">
    <div class="left">
        <div class="manage-network">
            <h3>manage my network</h3>
            <div class="network">
                <div><fa-icon [icon]="faUsers"></fa-icon><span><p>connection</p><small>845</small></span></div>
                <div><fa-icon [icon]="faClipboardList"></fa-icon><span><p>contacts</p></span></div>
                <div><fa-icon [icon]="faUser"></fa-icon><span><p>following & followers</p></span></div>
                <div><fa-icon [icon]="faUserFriends"></fa-icon><span><p>groups</p><small>15</small></span></div>
                <div><fa-icon [icon]="faCalendar"></fa-icon><span><p>events</p><small>2</small></span></div>
                <div><fa-icon [icon]="faFileAlt"></fa-icon><span><p>pages</p><small>25</small></span></div>
                <div><fa-icon [icon]="faBuilding"></fa-icon><span><p>newsletters</p><small>5</small></span></div>
            </div>
        </div>
        <div class="hiring">
            <img src="../assets/intern.png" alt="">
        </div>
    </div>
    <div class="right">
        <div class="connect">
            <h5>based on your recent activity, do you know these people?</h5>
            <div class="cards">
                <div class="card" *ngFor="let connect of connects">
                    <div class="image">
                        <div class="coverImage">
                            <img [src]="connect.coverImage" alt="">
                        </div>
                        <div class="profileImage">
                            <img [src]="connect.profileImage" alt="">
                        </div>
                    </div>
                    <h3>{{connect.name}}</h3>
                    <p>{{connect.profession}}</p>
                    <div class="follow">
                        <img [src]="connect.followPic" alt="">
                        <small>{{connect.mutualConnect}}</small>
                    </div>
                    <button>
                        <fa-icon [icon]="faUserPlus"></fa-icon>
                        <p>connect</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>