.main{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.main > img{
    width: 35rem;
    height: 20rem;
}